<!DOCTYPE html>
<html xmlns:th="http://www.thymelaef.org"
	xmlns:layout="http://www.ultraq.nz/thymeleaf/layout"
	layout:decorate="template">
<head>
<meta charset="utf-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
		<link  rel="stylesheet" th:href="@{/richtext/richtext.min.css}" >

<script th:src="@{/richtext/jquery.richtext.min.js}"></script>
 
<script th:src="@{/bootstrapselect/dist/js/bootstrap-select.min.js}"></script>
<script th:src="@{/bootstrapselect/dist/js/i18n/defaults*.js}"></script>
<link  rel="stylesheet" th:href="@{/bootstrapselect/dist/css/bootstrap-select.css}" >
	<!-- include summernote css/js 
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>


<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@master/dist/latest/bootstrap-autocomplete.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
		$(function() {
			
			$('.basicAutoComplete').autoComplete({
			    resolverSettings: {
			        url: "/searchPlatformAutocomplete"
			    }
			});
			
			$(".selectpicker").autocomplete({
				source: "/searchPlatformAutocomplete", 
				minLength: 3,
				select: function(event, ui) {
					this.value = ui.item ;
					console.log (ui); 
					$("#searchPlatform").val(ui.item.value);
					return false;
				}
			});

		});
	</script>
-->
<title>eNIA | Nouvelle fiche</title>
</head>

<body>


	<div layout:fragment="content1">
	
	
	
	
	<div class="container">
	 
	
	<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Propriétés</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Compléments</a>
  </li>
   
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  
  <div class="col-sm-6 mb-3 mb-sm-0">
									<div class="form-group">
										<label class="control-label" >Type</label> <br> <select
											class="selectpicker" id="type">
											<option value="1">Incident</option>
											<option value="2">Problème </option> 

										</select>
									</div>

								</div>
								<div class="col-sm-6 mb-3 mb-sm-0">
	                            <div class="form-group">
								<label class="control-label">Titre</label>
								 <input required
									class="form-control" value="Indisponibilité du service ELSA"
									type="text" id="titre" name="titre">
							</div>
							</div>
	<div class="form-group">
								<label class="control-label">Description</label>

								<textarea required class="form-control" rows="5" id="description"
									name="description" >
															</textarea>

							</div>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
 
  
 
						
						
				 <section id="cover" class="min-vh-100">
     <div class="col-sm-6 mb-3 mb-sm-0">
  <div class="form-group">
										<label class="control-label">Equipe</label> <br>
										 <select class="selectpicker" name="equipeId"  id="equipeId" data-live-search="true">
											 
											<option th:each="equipesList : ${equipesList}"
												th:value="${equipesList.id}"
												th:text="${equipesList.nom}"></option>
										</select>
									</div>
									
									</div>
  <div class="col-sm-12 mb-6 mb-sm-0">

							
			 
							
							
<div class="form-group">
										<label class="control-label">Plateforme impactées</label> <br>
										 <select class="selectpicker"  name="serId"  id="serId" data-live-search="true">
											 
											<option th:each="servicesPlateformesList : ${servicesPlateformesList}"
												th:value="${servicesPlateformesList.id}"
												th:text="${servicesPlateformesList.name}"></option>
										</select>
									</div>
						</div>
						
						
		<br>
	  
		 
</section>
  </div>
  
</div>
	
	
	
	</div>
	<div class="row" >
	<div class="col-sm-4 mb-3 mb-sm-3">
	 
	 </div>
	 <div class="col-sm-3 mb-3 mb-sm-3">
	<input id="postRequest" class="btn btn-secondary btn-block"
								value="Submit" />
	 </div>
	 <div class="col-sm-4 mb-3 mb-sm-3">
	 
	 </div>
	 
	 <br>
	 <div id="postResultDiv" align="center"></div>
			<div id="postResultMessageDiv" align="center"></div>
	</div>
	
	
	
	

		 


 


		<script th:inline="javascript">
			$(function() {
				$("#description").richText();
				
				
			    var values = $('equipeId').serialize();
			    console.log (values);       // See if you get the serialized data in console.
				var token = $('#_csrf').attr('content');
				var header = $('#_csrf_header').attr('content');
				console.log(token);
				// request SAVE service
				$("#postRequest").click(function(event) {
					// Prevent the form from submitting via the browser.
					event.preventDefault();

					if ($("#titre").val() == ''||$("#serId").val() == ''||$("#description").val() == ''||$("#equipeId").val() == ''|| $("#serId").val() == '') {
						alert("Veuillez remplir l'ensemble des champs!");
					} else {

						ajaxPost();

					}

				});

				function ajaxPost() {

					// PREPARE FORM DATA
					
					
					var valuesArray = $('select[name=equipeId]').val()
					if ($("#type").val() == 1) {
						var formData = {
								serviceID : $("#serId").val(),
								titre : $("#titre").val(),
								description : $("#description").val(),
								type : "FI",
								status : "Open",

							equipes : [ {
								id : $("#equipeId").val()
								

							} ],
							servicesPlateformes : [ {
								id : $("#serId").val()
								

							} ]
						}
					} else {

						var formData = {
								
								serviceID : $("#serId").val(),
								titre : $("#titre").val(),
								description : $("#description").val(),
								type : "FP",

							equipes : [ {
								id : $("#equipeId").val()

							} ],
							servicesPlateformes : [ {
								id : $("#serId").val()
								

							} ]
						}

					} 
					console.log(formData);

					var token = $('#_csrf').attr('content');
					var header = $('#_csrf_header').attr('content');
					console.log(token);
					// DO POST
					$.ajax({
						type : "POST",
						contentType : "application/json",
						url : "/eNIA/fiche",
						data : JSON.stringify(formData),
						dataType : "html",

						beforeSend : function(xhr) {
							xhr.setRequestHeader(header, token);
						},
						success : function(result) {
							console.log (values); 
							if (result == 'true') {
								$("#postResultDiv").html(
										" OK Successfully Saved! <br>"
												+ "---> Congrats !!"
												+ "</p>");
								$("#postResultMessageDiv").html("");
								$("#titre").val('');
								$("#description").val(''); 

								//	$("#postResultSuccess").show();

							} else if (result == 'false') {
								$("#postResultDiv").html("");

								$("#postResultMessageDiv")
										.html(
												"<strong>Erreur, Ce matricule existe déjà</strong><br>");
							} else {
								$("#postResultDiv").html("");

								$("#postResultMessageDiv")
										.html(
												"<strong>Il y a eu une erreur lors de la création</strong><br>");

							}

							console.log(result);
						},
						error : function(e) {

							alert("Error!")
							console.log("ERROR: ", e);
						}
					});

				}

				//https://grokonez.com/frontend/jquery-ajax-post-get-nested-objects-springboot-server		

			});
		</script>

	</div>
 






</body>

</html>