<!DOCTYPE html>
<html xmlns:th="http://www.thymelaef.org"
xmlns:layout="http://www.ultraq.nz/thymeleaf/layout"
	layout:decorate="template">
<head>
  <meta charset="utf-8">
 <meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
	<link  rel="stylesheet" th:href="@{/richtext/richtext.min.css}" >

<script th:src="@{/richtext/jquery.richtext.min.js}"></script>
<title>eNIA | Clôture</title>
</head>

<body>
  
  
  <div layout:fragment="content1">
 	<br> <br>
		<div class="container-fluid">

			<section class="row justify-content-center">


				<section class="col-12 col-sm-6 col-md-5">
<p class="font-italic" th:text="${fiche.titre}"> </p><br>
					<form>
					<input id="ficheId"  type="hidden" name="ficheId"
	th:value="${fiche.id}"/> 
						<div class="form-group">
					<label class="control-label">Merci de mentionner la cause du dysfonctionnement</label>

								<textarea class="form-control" rows="5" id="libelle"
									name="libelle" >
															</textarea>
						</div>
					 
					 

						<button id="postRequest" class="btn btn-secondary  btn-block">Submit</button>
					</form>

                     <div id="postResultDiv" align="center"></div>
			<div id="postResultMessageDiv" align="center"></div>
				</section>


			</section>




 


		</div>
		
		
		 <script>
		 $(document).ready(function() {
			  
		 
			$("#libelle").richText();
</script>
		
	       <script th:inline="javascript">
		$(function() { 
			
			$("#libelle").richText();
			
			var token = $('#_csrf').attr('content');
			var header = $('#_csrf_header').attr('content');
			console.log(token);
			// request SAVE service
			$("#postRequest").click(function(event) {
				// Prevent the form from submitting via the browser.
				event.preventDefault();
				
				if($("#libelle").val()==''){
					alert("Please fill the domaine field !");
				}else{
				 
					 
				 ajaxPost();
				 
				}
				
			});

			function ajaxPost() {

				// PREPARE FORM DATA
				var formData = {
						libelle : $("#libelle").val(),
						avcFichId : $("#ficheId").val()  
				}
				console.log(formData);
				

				var token = $('#_csrf').attr('content');
				var header = $('#_csrf_header').attr('content');
				console.log(token);
				// DO POST
				$
						.ajax({
							type : "POST",
							contentType : "application/json",
							url : "/eNIA/clotureFiche",
							data : JSON.stringify(formData),
							dataType: "html",

							beforeSend : function(xhr) {
								xhr.setRequestHeader(header, token);
							},
						success : function(result) {

							if (result == 'true') {
								$("#postResultDiv").html(
										" OK Successfully Saved! <br>"
												+ "---> Congrats !!"
												+ "</p>");
								$("#postResultMessageDiv").html("");
								$("#libelle").val('');
								

								//	$("#postResultSuccess").show();

							} else if (result == 'false') {
								$("#postResultDiv").html("");

								$("#postResultMessageDiv")
										.html(
												"<strong>Désolé cette équipe existe déjà</strong><br>");
							} else {
								$("#postResultDiv").html("");

								$("#postResultMessageDiv")
										.html(
												"<strong>Il y a eu une erreur lors de la création</strong><br>");

							}

							console.log(result);
						},
							error : function(e) {
							 
								alert("Error!")
								console.log("ERROR: ", e);
							}
						});

			}
			
	//------------------------------------------		
 
			
		});
	</script>

</div>
  

 
    
     
 
 
 
 
 

</body>

</html>