<!DOCTYPE html>
<html xmlns:th="http://www.thymelaef.org"
xmlns:layout="http://www.ultraq.nz/thymeleaf/layout"
	layout:decorate="template">
<head>
  <meta charset="utf-8">
 <meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
 
<title>eNIA | Data Import</title>
</head>

<body>
  
  
  <div layout:fragment="content1">
 	<br> <br>
		<div class="container-fluid">

			<section class="row justify-content-center">


				<section class="col-12 col-sm-6 col-md-3">

					<form>
						 
  		 
<br>
						<button id="launchJob" class="btn btn-secondary  btn-block">Launch Job</button>
					</form>

                     <div id="postResultDiv" align="center"></div>
			<div id="postResultMessageDiv" align="center"></div>
				</section>


			</section>




 


		</div>
		
		
		
		
	       <script th:inline="javascript">
		$(function() {  
			
			$("#launchJob").click(function(event) {
				// Prevent the form from submitting via the browser.
				event.preventDefault();
				
				ajaxPostBatch();
				
			});
			
			
			
			function ajaxPostBatch() {

				 

				var token = $('#_csrf').attr('content');
				var header = $('#_csrf_header').attr('content');
				console.log(token);
				// DO POST
				$.ajax({
							type : "GET",
							 
							url : "/eNIA/startJob",
							 

							beforeSend : function(xhr) {
								xhr.setRequestHeader(header, token);
							},
							success : function(result) {

								if (result == "200") {
									$("#result")
											.html(
													" OK Successfully Saved! <br>"
															+ "---> Congrats !!"
															+ "</p>");
									$("#postResultMessageDiv").html("");
									 
									 
								} else {
									$("#postResultDiv").html("");

									$("#postResultMessageDiv").html(
											"<strong>Error, Not Issue during batch, User Already exist</strong><br>");
								}

								console.log(result);
							},
							error : function(e) {
								alert("Error!")
								console.log("ERROR: ", e);
							}
						});

			}
			
		});
	</script>

</div>
  

 
    
     
 
 
 
 
 

</body>

</html>