<!DOCTYPE html>
<html xmlns:th="http://www.thymelaef.org"
xmlns:layout="http://www.ultraq.nz/thymeleaf/layout"
layout:decorate="template">
<head>
<meta charset="utf-8">
<title>Acces à une ressource non autorisé</title>
 
</head>
<body>
<div layout:fragment="content1">




	<br>
	<br>
	<div class="container-fluid">

			<section class="row justify-content-center">


				<section class="col-12 col-sm-6 col-md-6">

			<h3>Access denied | Vous n'êtes pas authorisé</h3>


				</section>


			</section>










		</div>


	
</div>


</body>
</html>