<!DOCTYPE html>
<html xmlns:th="http://www.thymelaef.org"
	xmlns:layout="http://www.ultraq.nz/thymeleaf/layout"
	layout:decorate="template">
<head>
<meta charset="utf-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
	
	<link  rel="stylesheet" th:href="@{/richtext/richtext.min.css}" >

<script th:src="@{/richtext/jquery.richtext.min.js}"></script>

<title>eNIA| Knowledge base</title>

</head>
<body>
	<div layout:fragment="content1">
		<!-- Begin Page Content -->
		<div class="container-fluid">
			<h1 class="h3 mb-2 text-gray-800">Creation</h1>




			<div class="row">

				<!-- Area Add Service -->
				<div class="col-xl-12 col-lg-12">
					<section class="row justify-content-center">


						<section class="col-12 col-sm-6 col-md-5">

							<form enctype="multipart/form-data" id="fileUploadForm">
								<div class="form-group">
									<label class="control-label">projectLabel</label> <input
										class="form-control" type="text" id="projectLabel"  name="projectLabel">
								</div>
								<div class="form-group">
									<label class="control-label">processionPriority</label><br>
									<select class="form-control" id="processionPriority" name="processionPriority">
										<option value="1">Priority 1</option>
										<option value="2">Priority 2</option>
										<option value="3">Priority 3</option>
										<option value="4">Priority 4</option>
									</select>



								</div>


								<div class="form-group">
									<label class="control-label">shortLabel</label> <input
										class="form-control" type="text" id="shortLabel" name="shortLabel">
								</div>


								<div class="form-group">
									<label class="control-label">Description Label</label>
									<textarea class="form-control" rows="7" id="descriptionLabel" name="descriptionLabel">
															</textarea>
								</div>



								<div class="form-group">
									<label class="control-label">Short Cause Label</label> <input
										class="form-control" type="text" id="shortCauseLabel" name="shortCauseLabel">
								</div>
								<div class="form-group">
									<label class="control-label">Cause Label</label>
									<textarea class="form-control" rows="7" id="causeLabel" name="causeLabel">
															</textarea>
								</div>
								
								
								<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
  </div>
  <div class="custom-file">
    <input  type="file" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])" name="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
    
    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
  </div>
  
  
  
</div>

<div><img id="blah" alt="your image" width="100" height="100" /></div>

								<div class="form-group row">
									<div class="col-sm-6 mb-3 mb-sm-0"></div>
									<div class="col-sm-6">
										<button id="postSaveUploadData" class="btn btn-secondary btn-block">Save</button>

									</div>
								</div>
							</form>


						</section>


					</section>
				</div>


			</div>


			<div id="result" align="center"></div>
			<div id="postResultMessageDiv" align="center"></div>
		</div>
		<!-- /.container-fluid -->

 <script>
            $('#inputGroupFile01').on('change',function(){
                //get the file name
                var fileName = $(this).val();
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            })
        </script>

		<script th:inline="javascript">
			$(function() {
				
				
				$("#descriptionLabel").richText();
				
				$("#causeLabel").richText();


				// request Create
				$("#postSaveUploadData").click(function(event) {
					$("#result").html("");
					event.preventDefault();

					if ($("#projectLabel").val() == ''||$("#processionPriority").val() == ''||$("#shortLabel").val() == ''||$("#descriptionLabel").val() == ''||$("#shortCauseLabel").val() == ''||$("#causeLabel").val() == '') {
						alert("Please fill all fields!");
					} else {
						ajaxPost();
					}

				});

				function ajaxPost() {

					// Get form
				    var form = $('#fileUploadForm')[0];
					
					
				    var data = new FormData(form);

				    data.append("CustomField", "This is some extra data, testing");

				    $("#postSaveUploadData").prop("disabled", true);
				    
					var token = $('#_csrf').attr('content');
					var header = $('#_csrf_header').attr('content');
					console.log(token);
					// DO POST
					$
							.ajax({
								type : "POST",
						        enctype: 'multipart/form-data',
						        url: "/eNIA/api/upload",
						        data: data,
								processData: false,
								contentType: false,
						        cache: false,
						        timeout: 600000,

								beforeSend : function(xhr) {
									xhr.setRequestHeader(header, token);
								},
								success : function(data) {
									
									

								      $("#result").text(data);
								      $("#shortLabel").val('');
								      $("#descriptionLabel").val('');
								      
							           // console.log("SUCCESS : ", data);
							            $("#postSaveUploadData").prop("disabled", false);
							            
							            

									//console.log(result);
								},
								error: function (e) {

						            $("#result").text(e.responseText);
						            console.log("ERROR : ", e);
						            $("#postSaveUploadData").prop("disabled", false);

						        }
							});

				}

				//------------------------------------------		

			});
		</script>

	</div>

</body>
</html>
