<!DOCTYPE html>
<html xmlns:th="http://www.thymelaef.org"
xmlns:layout="http://www.ultraq.nz/thymeleaf/layout"
	layout:decorate="template">
<head>
  <meta charset="utf-8">
 <meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
 
<title>eNIA | Rechercher un service</title>
</head>

<body>
  
  
  <div layout:fragment="content1">
 	<br> <br>
		<div class="container-fluid" th:if="${not #lists.isEmpty(listServices)}">

			<section class="row justify-content-center">

 
 
 <section class="col-12 col-sm-6 col-md-6"> 
 <form th:action="@{/user/searchPlateforme}" class="form-inline my-2 my-lg-0">
      <input th:value="${motCle}" name="motCle" class="form-control mr-sm-2" type="search" placeholder="Entrez un mot clé" aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Rechercher</button>
    </form>
    <br>
     <br>
     
			 <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nom</th>
                     
                     
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                   <th>ID</th>
                      <th>Nom</th>
                       
                    </tr>
                  </tfoot>
                  <tbody>
                  
                  	<tr th:each="p:${listServices}">
						<td th:text="${p.id}"></td>
						<td th:text="${p.name}"></td>
						 	
						 				
					</tr>
               
                  </tbody>
                </table>
                <nav >
              <ul   class="pagination">
				<li  th:each="page,status:${pages}"  th:class="${currentPage==status.index}?'page-item active':'page-item'">
				<a th:class="${currentPage==status.index}?'page-link active':'page-link'"  th:href="@{/user/searchPlateforme(page=${status.index},   motCle=${motCle})}" th:text="${status.index}"></a>
				</li>
				</ul>
				</nav>
              </div>

 
</section>
			</section>




 


		</div>
		
		
		<div th:if="${#lists.isEmpty(listServices)}">
   Nous n'avons aucun incident en cours ...
					</div>
		 

</div>
  

 
    
     
 
 
 
 
 

</body>

</html>